.Goals-list {
    display: flex;
    flex-direction: column;
  
    width: 50vh;
    border-radius: 20px;
    margin: 10px;
  }
  .pencil {
    color: white;
  }
  .Goal-name {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: auto;
    margin: 10px;
    background-color: rgb(9, 50, 70);
    border-radius: 10px;
  }
  .para {
    font-size: 18px;
    color: aliceblue;
    font-weight: 600;
    margin: 10px;
    padding: 0px;
  }
  